.side-menu {
  width: 200px;
  background-color: #45496b;
}

.side-menu .header {
  margin-top: 20px;
}

.side-menu .header .profile-photo-container {
  text-align: center;
}

.side-menu .header .profile-photo-container .profile-photo {
  width: 65px;
  height: 65px;
  padding: 3px;
  border: 1px solid #595d83;
  border-radius: 50%;
}

.side-menu .actions {
  text-align: center;
  margin-top: 7px;
}

.side-menu .action img {
  width: 14px;
  height: 14px;
  padding: 5px;
}

.side-menu .action:not(:first-child) {
  margin-left: 35px;
}

.side-menu .action:before {
  content: ' ';
  display: inline-block;
  margin-right: -24px;
  width: 24px;
  height: 24px;
  background-color: #595d83;
  border-radius: 50%;
}

.side-menu .navigation {
  margin-top: 40px;
}

.side-menu .navigation-item {
  display: flex;
  height: 48px;
  padding-left: 25px;
  align-items: center;
  opacity: 0.5;
  color: #ffffff;
  text-decoration: none;
}

.side-menu .navigation-item .icon {
  margin-right: 20px;
}

.side-menu .navigation-item .name {
  flex: 1;
}

.side-menu .navigation-item .counter {
  margin-right: 25px;
}

.side-menu .navigation-item:hover, .side-menu .navigation-item:focus {
  opacity: 1;
}

.side-menu .navigation-item.active {
  padding-left: 22px;
  border-left: 3px solid #f6cf31;
  opacity: 1;
  background-color: rgba(255,255,255,0.15);
}
