.client-list-section {
  color: rgba(0, 0, 0, 0.64);
}

.client-list-section .header {
  font-size: 18px;
  margin-bottom: 15px;
}

.client-list-section .section-header {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
}

.client-list-section .client {
  margin-bottom: 13px;
}
