.schedule-container {
  display: flex;
  flex: 1;
}

.schedule-left {
  margin-top: 28px;
  padding-right: 28px;
}

.schedule-right {
  flex: 1;
  padding: 28px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
